absl-py
altair
anyio
astunparse
attrs
blinker
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
flatbuffers
fonttools
gast
google-pasta
grpcio
h11
h5py
httptools
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
namex
narwhals
numpy
opt_einsum
optree
packaging
pandas
pillow
protobuf
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
python-multipart
referencing
requests
rich
rpds-py
scikit-learn
scipy
setuptools
six
starlette
streamlit
tensorflow
termcolor
threadpoolctl
toml
typing_extensions
urllib3
uvicorn
websockets
wheel
wrapt
